/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

table {
    margin: 0 auto;
    border-top: 2pt solid;
    border-bottom: 2pt solid;
    font-size: 9pt;
  }
  
 thead {
    border-bottom: 2pt solid;
  }
